<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Mini_DR100_V3">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0037566 0.0030558 0.011941"
        rpy="0 0 0" />
      <mass
        value="0.95016" />
      <inertia
        ixx="0.00068366"
        ixy="-1.6088E-07"
        ixz="-9.3614E-08"
        iyy="0.00079059"
        iyz="-7.4797E-06"
        izz="0.00081126" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>


  <link
    name="base_link2">
    <inertial>
      <origin
        xyz="-0.010604 0.00023246 0.019884"
        rpy="0 0 0" />
      <mass
        value="3.3383" />
      <inertia
        ixx="0.0044234"
        ixy="3.2155E-05"
        ixz="-0.00014065"
        iyy="0.0026564"
        iyz="1.0989E-07"
        izz="0.0033573" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/base_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/base_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link_2"
    type="revolute">
    <origin
      xyz="0.00020003 0 0.20465"
      rpy="0.00026738 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_link2" />
    <axis
      xyz="0 0.00026738 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="1"
      falling="1" />
    <dynamics
      damping="1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="1"
      k_velocity="1" />
  </joint>


  <link
    name="left_arm">
    <inertial>
      <origin
        xyz="-0.0145108926731045 -0.00356647562577495 -0.00995457512607593"
        rpy="0 0 0" />
      <mass
        value="0.256680250326883" />
      <inertia
        ixx="7.67782733468637E-05"
        ixy="-1.83138626160975E-06"
        ixz="-5.49968163063364E-07"
        iyy="0.000183440423556101"
        iyz="-5.58680374323752E-07"
        izz="0.000166384518568915" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/left_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/left_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm1"
    type="revolute">
    <origin
      xyz="0.001 0.11012 -2.9443E-05"
      rpy="-0.00026738 0 0" />
    <parent
      link="base_link2" />
    <child
      link="left_arm" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="1"
      falling="1" />
    <dynamics
      damping="1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="1"
      k_velocity="1" />
  </joint>


  <link
    name="left_arm2">
    <inertial>
      <origin
        xyz="0.0209951282703796 0.0509489844074316 -0.00616047346034046"
        rpy="0 0 0" />
      <mass
        value="0.2662435837758" />
      <inertia
        ixx="0.000198576429012132"
        ixy="-5.60332885373468E-06"
        ixz="-9.25264369602788E-07"
        iyy="0.000179301576155924"
        iyz="-5.05088116570888E-06"
        izz="0.000129156492258377" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/left_arm2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/left_arm2.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="left_arm_2"
    type="revolute">
    <origin
      xyz="0.002 0 0"
      rpy="0 0 0" />
    <parent
      link="left_arm" />
    <child
      link="left_arm2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="1"
      falling="1" />
    <dynamics
      damping="1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="1"
      k_velocity="1" />
  </joint>


  <link
    name="left_arm3">
    <inertial>
      <origin
        xyz="-0.00854995905622837 0.0915268381380364 -0.0151539780838335"
        rpy="0 0 0" />
      <mass
        value="1.05937161343731" />
      <inertia
        ixx="0.000601097555378388"
        ixy="9.4254227370681E-08"
        ixz="-4.06377472043896E-07"
        iyy="0.000610170162857012"
        iyz="1.82233078158185E-05"
        izz="0.000663528579458327" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/left_arm3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/left_arm3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_3"
    type="revolute">
    <origin
      xyz="0.027139 0.11522 0"
      rpy="0.0087266 0 0" />
    <parent
      link="left_arm2" />
    <child
      link="left_arm3" />
    <axis
      xyz="0 0.0087265 0.99996" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="1"
      falling="1" />
    <dynamics
      damping="1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="1"
      k_velocity="1" />
  </joint>


  <link
    name="right_arm">
    <inertial>
      <origin
        xyz="-0.0145108926731045 0.00356647562579444 0.00995457512607606"
        rpy="0 0 0" />
      <mass
        value="0.256680250326883" />
      <inertia
        ixx="7.67782733468638E-05"
        ixy="1.83138626160956E-06"
        ixz="5.49968163063339E-07"
        iyy="0.000183440423556101"
        iyz="-5.58680374323706E-07"
        izz="0.000166384518568914" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/right_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/right_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm1"
    type="revolute">
    <origin
      xyz="0.00048144 -0.11012 -0.00017056"
      rpy="-0.00026738 0 0" />
    <parent
      link="base_link2" />
    <child
      link="right_arm" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="1"
      falling="1" />
    <dynamics
      damping="1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="1"
      k_velocity="1" />
  </joint>

  
  <link
    name="right_arm2">
    <inertial>
      <origin
        xyz="0.0209697208507087 -0.0498575301282746 -0.000877569893028063"
        rpy="0 0 0" />
      <mass
        value="0.264565394093207" />
      <inertia
        ixx="0.000189354737846181"
        ixy="5.60332884825566E-06"
        ixz="9.25264403140295E-07"
        iyy="0.000179460999820466"
        iyz="-5.03981803499828E-06"
        izz="0.000125400029243972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/right_arm2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/right_arm2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_2"
    type="revolute">
    <origin
      xyz="0.002 0 0"
      rpy="0 0 0" />
    <parent
      link="right_arm" />
    <child
      link="right_arm2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="1"
      falling="1" />
    <dynamics
      damping="1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="right_arm3">
    <inertial>
      <origin
        xyz="-0.00206932459707209 -0.0907011930322285 0.010085708796682"
        rpy="0 0 0" />
      <mass
        value="1.05937162281971" />
      <inertia
        ixx="0.000601097571097074"
        ixy="3.49778577176264E-07"
        ixz="3.88838756331556E-07"
        iyy="0.000606620600371422"
        iyz="-1.61247787333055E-05"
        izz="0.000667078126115127" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/right_arm3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mini_DR100_V3/meshes/right_arm3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_3"
    type="revolute">
    <origin
      xyz="0.023132 -0.10115 0"
      rpy="0 0 0" />
    <parent
      link="right_arm2" />
    <child
      link="right_arm3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="1"
      falling="1" />
    <dynamics
      damping="1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="1"
      k_velocity="1" />
  </joint>
</robot>